<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

 


</style>

<div appFileDrop (filesDropped)="onFilesDropped($event)">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <span style="margin-right:20px;">{{title}}</span>
      <button mat-button color="warn" (click)="onUploadClick()">  
        <mat-icon>file_upload</mat-icon>  
        Upload or drag graph files  
      </button>  
      <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />

<!--       <button mat-raised-button color="accent" (click)="selectWorkDir()">Select working directory!</button> -->
    </mat-toolbar-row>
  </mat-toolbar>
    
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <div *ngIf="!filesToDisplay.length">
        <span style="height:24px;margin:24px;font-size:large;font-weight:600;">No files selected</span>
      </div>
      <div *ngIf="filesToDisplay.length">
        <mat-selection-list mat-flat-button *ngFor="let file of filesToDisplay">
          <mat-list-item>
            <mat-card-content>
              {{ file.name }}
            </mat-card-content>
          </mat-list-item>
        </mat-selection-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="min-height:320px;">
      Main content
      <form class="content" role="main">
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
